/ {
  combos {
        compatible = "zmk,combos";

        toggle_windows {
            bindings = <&tog 1>;
            key-positions = <52 55>;
        };
        toggle_gaming {
            bindings = <&tog 2>;
            key-positions = <0 11>;
        };
    };
};
